/**
 * Grid
 *
 * @package roots
 */

// Configuration

$grid-row-width: 1200px !default;

// Gutter should be related to the
// typography baseline grid
$grid-gutter: 1.5rem;

// Mixins

/**
 * Set the column width
 * @param  {fraction} $width fractional width for the column ie 1/2 for half
 * @return {width}           the percentage width for the column
 */
@mixin column($width) {
  width: $width * 100 + %;
}

/**
 * Add push margin to column
 * @param  {fraction} $size fractional size of the push margin
 * @return {percentage}     the percentage size of the push margin
 */
@mixin push($size) {
  margin-left: $size * 100 + %;
}

// Functions

/**
 * Create gutter values for padding/margins etc
 * @param  {number} $size multiple of the base gutter size
 * @return {rem}          the gutter size
 */
@function gutter($size) {
    @return $size * $grid-gutter;
}


$map: (
  1: 'one',
  2: 'two',
  3: 'three',
  4: 'four',
  5: 'five',
  6: 'six',
  7: 'seven',
  8: 'eight',
  9: 'nine',
  10: 'ten',
  11: 'eleven',
  12: 'twelve'
);

.row,
.column {
    box-sizing: border-box;
}

.row {
    overflow: hidden;
    max-width: $grid-row-width;
    margin: 0 auto;
}

.row .row {
    margin: 0 gutter(-0.5) gutter(-1);
}

.column {
    float: left;
    padding: 0 gutter(0.5) gutter(1);
}

/**
 * Whole
 */
.column.one-whole { @include column(1); }

/**
 * Halves
 */
.column.one-half  { @include column(1/2); }
.column.two-halfs { @include column(2/2); }

/**
 * Thirds
 */
.column.one-third  { @include column(1/3); }
.column.two-thirds { @include column(2/3); }
.column.three-thirds { @include column(3/3); }

/* fourths */
.column.one-fourth    { @include column(1/4); }
.column.two-fourths   { @include column(2/4); }
.column.three-fourths { @include column(3/4); }
.column.four-fourths { @include column(4/4); }

/* fifths */
.column.one-fifth    { @include column(1/5); }
.column.two-fifths   { @include column(2/5); }
.column.three-fifths { @include column(3/5); }
.column.four-fifths  { @include column(4/5); }
.column.five-fifths  { @include column(5/5); }

/* sixths */
.column.one-sixth    { @include column(1/6); }
.column.two-sixths   { @include column(2/6); }
.column.three-sixths { @include column(3/6); }
.column.four-sixths  { @include column(4/6); }
.column.five-sixths  { @include column(5/6); }
.column.six-sixths   { @include column(6/6); }

/* sevenths */
.column.one-seventh     { @include column(1/7); }
.column.two-sevenths    { @include column(2/7); }
.column.three-sevenths  { @include column(3/7); }
.column.four-sevenths   { @include column(4/7); }
.column.five-sevenths   { @include column(5/7); }
.column.six-sevenths    { @include column(6/7); }
.column.seven-sevenths  { @include column(7/7); }

/* eighths */
.column.one-eighth     { @include column(1/8); }
.column.two-eighths    { @include column(2/8); }
.column.three-eighths  { @include column(3/8); }
.column.four-eighths   { @include column(4/8); }
.column.five-eighths   { @include column(5/8); }
.column.six-eighths    { @include column(6/8); }
.column.seven-eighths  { @include column(7/8); }
.column.eight-eighths  { @include column(8/8); }

/* ninths */
.column.one-ninth     { @include column(1/9); }
.column.two-ninths    { @include column(2/9); }
.column.three-ninths  { @include column(3/9); }
.column.four-ninths   { @include column(4/9); }
.column.five-ninths   { @include column(5/9); }
.column.six-ninths    { @include column(6/9); }
.column.seven-ninths  { @include column(7/9); }
.column.eight-ninths  { @include column(8/9); }
.column.nine-ninths   { @include column(9/9); }

/* tenth */
.column.one-tenth     { @include column(1/10); }
.column.two-tenths    { @include column(2/10); }
.column.three-tenths  { @include column(3/10); }
.column.four-tenths   { @include column(4/10); }
.column.five-tenths   { @include column(5/10); }
.column.six-tenths    { @include column(6/10); }
.column.seven-tenths  { @include column(7/10); }
.column.eight-tenths  { @include column(8/10); }
.column.nine-tenths   { @include column(9/10); }
.column.ten-tenths    { @include column(10/10); }

/* eleventh */
.column.one-eleventh        { @include column(1/11); }
.column.two-elevenths       { @include column(2/11); }
.column.three-elevenths     { @include column(3/11); }
.column.four-elevenths      { @include column(4/11); }
.column.five-elevenths      { @include column(5/11); }
.column.six-elevenths       { @include column(6/11); }
.column.seven-elevenths     { @include column(7/11); }
.column.eight-elevenths     { @include column(8/11); }
.column.nine-elevenths      { @include column(9/11); }
.column.ten-elevenths       { @include column(10/11); }
.column.eleven-elevenths    { @include column(11/11); }

/* twelfths */
.column.one-twelfth     { @include column(1/12); }
.column.two-twelfth     { @include column(2/12); }
.column.three-twelfth   { @include column(3/12); }
.column.four-twelfth    { @include column(4/12); }
.column.five-twelfths   { @include column(5/12); }
.column.six-twelfths    { @include column(6/12); }
.column.seven-twelfths  { @include column(7/12); }
.column.eight-twelfths  { @include column(8/12); }
.column.nine-twelfths   { @include column(9/12); }
.column.ten-twelfths    { @include column(10/12); }
.column.eleven-twelfths { @include column(11/12); }
.column.twelve-twelfths { @include column(12/12); }

/* push */
.push-half      { @include push(1/2); }
.push-third     { @include push(1/3); }
.push-fourth    { @include push(1/4); }
.push-fifth     { @include push(1/5); }
.push-sixth     { @include push(1/6); }
.push-seventh   { @include push(1/7); }
.push-eighth    { @include push(1/7); }
.push-twelfth   { @include push(1/12); }

/* float right */
.flow-reverse { float: right; }

/**
 * Cleafix
 * Micro Clearfix by Nicolas Gallagher
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */

.cf {
  overflow: visible!important;
}
.cf:before,
.cf:after {
  content: " ";
  display: block;
}
.cf:after {
  clear: both;
}

/*
    For IE 6/7 only
    Include this rule to trigger hasLayout and contain floats.
*/
.cf {
  *zoom: 1;
}
