// vars
$type-body-font: Helvetica, sans-serif !default;
$type-body-size: 18px !default;

// rhythm
// best to have increments for more control adjusting
$type-leading: 1.5 !default;
$type-rhythm: $type-leading / 4 !default;

// scale
$type-scale: 1.25 !default;

@function rhythm($num) {
    @return $type-rhythm * $num * 1rem;
}

// an positive or negative number, but not zero
@mixin scale($num) {

    $size: 1;

    @if $num > 0 {
        @for $i from 1 to $num {
            $size: $size * $type-scale;
        }
    } @else {

        $size: $size / $type-scale;

        @for $i from 1 to $num * -1 {
            $size: $size / $type-scale;
        }
    }

    font-size: $size * 1rem;

    @if ( $size >= $type-leading ) {
        line-height: ( round($size) * $type-leading) * 1rem;
    } @else {
        line-height: $type-leading * 1rem;
    }
}

html,
body {
  font-family: $type-body-font;
  font-size: $type-body-size;
  line-height: $type-leading;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

// vertical spacing
p {
    margin-bottom: rhythm(4);
}

// headings
.heading,
h1, h2, h3, h4, h5, h6 {
    margin-bottom: rhythm(4);
}

h1, .alpha   { @include scale(5); }
h2, .beta    { @include scale(4); }
h3, .gamma   { @include scale(3); }
h4, .delta   { @include scale(2); }
h5, .epsilon { @include scale(1); }
h6, .zeta    { @include scale(-1); }

// standfirst
.standfirst { @include scale(1); }

b,
strong,
.bold {
    font-weight: 600;
}

i,
em,
.italic {
    font-style: italic;
}


// lists
dl,
ul,
ol {
    margin-bottom: rhythm(4);
}

li ol,
li ul {
    margin-bottom: 0;
    padding-left: rhythm(4);
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

// definition list
dl {}
dt { @extend .bold; }
dd { @extend .italic; }
